{% extends 'blog/base.html' %}
{% load static %}
{% load humanize %}

{% block head_title %}{{ star.name }}留言区{% endblock %}


{% block top-file %}
{% if user.is_authenticated %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endif %}
<link href="{% static 'blog/css/detail.css' %}?v=20180102.08" rel="stylesheet">
<link href="{% static 'blog/css/github-colorful.css' %}?v=20180102.130" rel="stylesheet">
<link href="{% static 'comment/css/base_comment.css' %}?v=20180114.008" rel="stylesheet">
{% endblock %}

{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white border-0 rounded-0 mb-2 py-2 f-15">
                    <li class="breadcrumb-item">
                        <i class="fa fa-home mr-1"></i><a href="{% url 'blog:index' %}">首页</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'blog:homepage' %}">留言区</a>
                    </li>
                    <li class="breadcrumb-item active d-none d-md-block" aria-current="page">{{ star.name }}</li>
                    <li class="breadcrumb-item active d-md-none" aria-current="page">当前位置</li>
                </ol>
            </nav>
            <div class="card rounded-0 border-0" id="article">
                <div class="card-body px-2 px-md-3 pb-0">
                    <h1 class="card-title text-center font-weight-bold text-info">{{ star.name }}留言区</h1>
                    <hr>
                    <div class="article-body mt-4 f-17" style="line-height:1.8">
                        <p class="font-weight-bold text-info">
                            <i class="fa fa-bullhorn mx-1"></i>
                            欢迎来到{{ star.name }}留言区，大家踊跃发言吧！
                        </p>
                    </div>
                    <div class="tag-cloud my-4">
                        {% for star in stars %}
                        <a class="tags f-16" href="{% url 'comment:message' star.slug %}">{{ star.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card mt-2 rounded-0 border-0" id="comment-block">
                {% include 'comment/message_form.html' %}
                {% include 'comment/message_list.html' %}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="article-toc d-none d-lg-block f-16">
                {{ article.toc|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block end_file %}
{% if user.is_authenticated %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="{% static 'comment/js/editor.js' %}?v=20180113.05907"></script>
<script src="{% static 'comment/js/activate-power.js' %}?v=20180120"></script>
<script>
var sw=window.screen.width;if(sw>1200){POWERMODE.colorful=true;POWERMODE.shake=false;document.body.addEventListener('input',POWERMODE)};

</script>
{% endif %}
{% endblock %}
