/*Headroom.js*/
.headroom {
    transition: transform 300ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
/* base css-------------------------------------------------*/
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: #ea6f5a;
}



/* top navbar-------------------------------------------------*/
.blog-navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
#navbarDropdown .avatar {
    border-radius: 50%;
    width:40px;
}
.get-msg {
    font-size:13px;
    position: absolute;
    top: 5px;
    left: 32px;
    z-index: 3;
    color: #fff;
    display: block;
    min-width: 16px;
    padding: 0 3px;
    height: 16px;
    border-radius: 16px;
    line-height: 16px;
    background: red;
}
.blog-navbar .dropdown-menu {
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
.blog-navbar .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}
.blog-navbar .navbar-toggler-icon {
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
.nav-item a.active {
    color: #ea6f5a;
}

/* 全文搜索 */
.highlighted {
    color: #ea6f5a;
}

/* Small devices (landscape phones, 576px and up) */
/* X-iPhone6 AND plus */
@media (min-width: 576px) {
.container {
    max-width: none;
    padding-right: 10px;
    padding-left: 10px;
}
.f-17 {
    font-size:14px;
}
.f-16 {
    font-size:13px;
}
.f-15 {
    font-size:12px;
}
.f-14 {
    font-size:11px;
}
.f-13 {
    font-size:10px;
}
.f-12 {
    font-size:9px;
}
}

/* Medium devices (tablets, 768px and up) */
/* Y-iPad mini */
@media (min-width: 768px) {
.container {
    max-width: 750px;
    padding-right: 12px;
    padding-left: 12px;
}
.f-17 {
    font-size:16px;
}
.f-16 {
    font-size:15px;
}
.f-15 {
    font-size:14px;
}
.f-14 {
    font-size:13px;
}
.f-13 {
    font-size:12px;
}
.f-12 {
    font-size:11px;
}
.summary-list .avatar {
    width:1.35rem;
    heigth:1.35rem;
}
.get-msg {
    top: 3px;
    left: 36px;
}
}

/* Large devices (desktops, 992px and up) */
/* X-iPad Y-iPad Pro*/
@media (min-width: 992px) {
.container {
    max-width: 970px;
    padding-right: 15px;
    padding-left: 15px;
}
}

/* Extra large devices (large desktops, 1200px and up) */
/* PC X-iPad Pro*/
@media (min-width: 1200px) {
.container {
    max-width: 1140px;
}
.f-17 {
    font-size:17px;
}
.f-16 {
    font-size:16px;
}
.f-15 {
    font-size:15px;
}
.f-14 {
    font-size:14px;
}
.f-13 {
    font-size:13px;
}
.f-12 {
    font-size:12px;
}
.article-img {
    cursor: pointer;
    transition: all 0.6s;
}
.article-img:hover {
    transform: scale(1.1);
}
.summary-list .media:hover {
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.275)
}
.summary-list .avatar {
    width:1.5rem;
    heigth:1.5rem;
}
#navbarDropdown .avatar {
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
#navbarDropdown .avatar:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
}
